.registerForm{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;

    .banner{
        padding: 20px;
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
        color: rgb(163, 84, 163);
        font-weight: 800;
        font-size: 30px;
        text-align: center;
        .bannerQr{
            img{
                width: 200px;
                height: 200px;
            }
        }
        img{
            width: 100px;
            height: 100px;
            padding: 8px;
        }    
    };


    
    .register_content{
        background-color: rgb(163, 84, 163);
        padding: 30px;
        color: whitesmoke;
        border-radius: 30px;
        box-shadow: 2px 4px 10px 10px lightblue;

        h2{
            margin-bottom: 16px;
        }




        .offscreen {
            position: absolute;
            left: -9999px;
        }
        .errmsg {
            background-color: lightpink;
            color: firebrick;
            font-weight: bold;
            padding: 0.5rem;
            margin-bottom: 0.5rem;
        }

        .instructions {
            font-size: 0.75rem;
            border-radius: 0.5rem;
            background: #000;
            color: #fff;
            position: relative;
            padding: 4px;
            box-sizing: border-box;
        }

        .hide {
            display: none;
        }
        
        .valid {
            color: limegreen;
            margin-left: 0.25rem;
        }
        
        .invalid {
            color: red;
            margin-left: 0.25rem;
        }        


        input{
            margin-bottom: 12px;
            padding: 4px;
            width: 94%;
            border: none;
            border-radius: 10px;
            &:focus{
                outline: none;
            }
        }

        input[type=text]{
            color: red
        }

        button{
            padding: 4px;
            color: black;
            font-weight: 600;
            // margin-left: 38px;
            align-self: center;
            // position: absolute;
            margin-top: 12px;
            border-radius:8px;
            border: none;
            transition: ease-in-out 0.2s;
            
            cursor: pointer ;

            &:hover{
                color: purple
            }

        }

        .linkRegister{
            display: flex;
            justify-content: space-between;
            margin-top: 8px;
            .login{
                text-decoration: none;
                font-weight: 700;
                color: whitesmoke;
                transition: ease-in-out 0.2s;

                &:hover{
                    color: blue
                }


            }
            .home{
                text-decoration: none;
                font-weight: 700;
                color: whitesmoke;
                transition: ease-in-out 0.2s;

                &:hover{
                    color: blue;
                }
            }
        }


    }

}




.SuccessContent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    h1{
        margin-right: 12px  
    }
}