.reset{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;

    .banner{
        padding: 20px;
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
        color: rgb(163, 84, 163);
        font-weight: 800;
        font-size: 30px;
        text-align: center;
        .bannerQr{
            img{
                width: 200px;
                height: 200px;
            }
        }
        img{
            width: 100px;
            height: 100px;
            padding: 8px;
        }    

    }


    .resetForm{
        background-color: rgb(163, 84, 163);
        padding: 30px 5px; 
        color: whitesmoke;
        border-radius: 30px;
        box-shadow: 2px 4px 10px 10px lightblue;
        text-align: center;
        h2{
            margin-bottom: 16px;
        }

        input{
            margin-bottom: 12px;
            padding: 4px;
            width: 74%;
            border: none;
            border-radius: 10px;
            &:focus { outline: none; }
        }

        button{
            padding: 6px 12px;
            color: black;
            font-weight: 600;
            font-size: 16px;

            // margin-left: 35px;
            margin-top: 12px;
            border-radius:8px;
            border: none;
            transition: ease-in-out 0.2s;
            cursor: pointer;

            &:hover{
                color: blue
            }
            
        }

    }

}



