table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    width: 80vw;
    margin: 8px auto;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    .imageproduct{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;
      object-fit: cover;
    }

    .status {
      padding: 5px;
      border-radius: 5px;

      &.Approved{
        color: green;
        background-color: rgba(0, 128, 0, 0.151);
      }
      
      &.Pending{
        color: red;
        background-color: rgba(189, 189, 3, 0.103)
      }

    }

  }