
.datatable{

    .dataHeader{
        padding: 20px;
        margin: 20px;
        box-shadow: 2px 4px 10px 1px rgba(201,201,201, 0.47);
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
        width: 15%;
        font-size: 24px;
        font-weight: 700;
        margin-left: 30px;

        button{
            padding: 5px;
            background-color: purple;
            color: white;
            display: flex;
            align-items: center;
            transition: ease-in 0.2s;
            
            &:hover{
                background-color: palevioletred;
            }
        }
    }

    .dataSearch{
        display: flex;
        justify-content: space-evenly;
        padding: 16px;
        align-items: center;
        margin-left: 30px;
        margin-bottom: 12px;
        width: 92%;
        box-shadow: 2px 4px 10px 1px rgba(201,201,201, 0.47);
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);

        .inputSearch{
            display: flex;
            input{
                border: 1px solid rgba(0,0,0,0.47)
            }

            button{
                background-color: purple;
                color: white;
                border: 1px solid rgba(0,0,0,0.5);
                margin-left: 8px;
                padding: 4px;
                transition: ease-in 0.2s;

                &:hover{
                    background-color: palevioletred;
                }
            }
        }

    }

    table{
        // margin: 8px ;
        thead{
            tr{
                th{
                    .iconUp{
                        color: green;
                        transform: translateY(2px)
                    };
                    .iconDown{
                        color: red;
                        transform: translateY(2px)
                    }
                }
            }
        }
    }
}